/* header_CSS */
.logo{
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img{
    width: 100%;
}


/* main_CSS */
main > div{
    width: 100%;
    text-align: center;
}

.message1{
    height: 420px;
}



.message2{
    height: 570px;
    background-color: #F5F5F5;
}




.message3{
    height: 450px;
}

